<div class="form-container">
  <div class="row">
      <%= form_for @post do |f| %>
        <br />
          <div class="col-md-6">
          <%= f.label :name, 'Gamertag' %><br />
          <%= f.text_field :name, autofocus: true, placeholder: "Gamertag", :maxlength => 25 %>
          </div>

          <div class="col-md-6 col-marg-fix">
            <%= f.label :console, 'Select Console' %><br />
            <%= f.select :console, options_for_select([['PS4', 'PS4'],
            ['XB1', 'XB1']]) %>
          </div>
  </div>

        <div class="row">
          <div class="col-md-6 col-marg-fix">
            <%= f.label :light_lvl, 'Your Light Level' %><br />
            <%= f.text_field :light_lvl, placeholder: "eg. 335", :maxlength => 3 %>
          </div>

          <div class="col-md-6">
            <%= f.label :activity, 'Select Activity' %><br />
            <%= f.select :activity, options_for_select([
            ['1v1 Private Crucible Match', '1v1 Private Match'],
            ['Private Crucible Match', 'Private Match'],
            ['Rumble', 'Rumble'],
            ['Doubles', 'Doubles'],
            ['Skirmish | Elimination | Salvage', '3v3 Crucible'],
            ['Clash | Control | Rift', '6v6 Crucible'],
            ['Supremecy', 'Supremecy'],
            ['Trials of Osiris: Flawless', 'Trials of Osiris: Flawless'],
            ['Trials of Osiris: Fun', 'Trials of Osiris: Fun'],
            ['Trials of Osiris: Sherpa', 'Trials of Osiris: Sherpa'],
            ['Iron Banner', 'Iron Banner'],
            ['Patrol', 'Patrol'],
            ['Archon\'s Forge', 'Archon\'s Forge'],
            ['Quest', 'Quest'],
            ['Exotic Quest', 'Exotic Quest'],
            ['Strikes Playlist', 'Strikes Playlist'],
            ['Nightfall', 'Nightfall'],
            ['Vault of Glass Raid: Normal', 'Vault of Glass Raid: Normal'],
            ['Vault of Glass Raid: Hard', 'Vault of Glass Raid: Hard'],
            ['Crota\'s End Raid: Normal', 'Crota\'s End Raid: Normal'],
            ['Crota\'s End Raid: Hard', 'Crota\'s End Raid: Hard'],
            ['King\'s Fall Raid: Normal', 'King\'s Fall Raid: Normal'],
            ['King\'s Fall Raid: Hard', 'King\'s Fall Raid: Hard'],
            ['Wrath of the Machine: Normal', 'Wrath of the Machine: Normal'],
            ['Wrath of the Machine: Hard', 'Wrath of the Machine: Hard']
            ]) %>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.label :destiny_class, 'Class' %><br />
            <%= f.select :destiny_class, options_for_select([
              ['Hunter', 'Hunter'],
              ['Warlock', 'Warlock'],
              ['Titan', 'Titan']]) %>
          </div>

        </div>


        <div class="form-group notes-wrap">
          <%= f.label :notes %>
          <%= f.text_area :notes, rows: 4, class: 'form-control',
          placeholder: "Enter: Quest Name, Need 2 more players or any other specifics", :maxlength => 35 %>
        </div>

        <br />

        <div class="form-group post-btn-wrap">
          <%= f.submit "Post to LFG!", class: 'btn btn-success' %>
        </div>

</div>
<% end %>
