<div class="form-container">
  <h2>New LFG Post</h2>
  <div class="row">
      <%= form_for @post do |f| %>
        <br />
          <div class="col-md-6">
          <%= f.label :name, 'Gamertag' %><br />
          <%= f.text_field :name, autofocus: true, placeholder: "Gamertag", :maxlength => 25 %>
          </div>

          <div class="col-md-6 col-marg-fix">
            <%= f.label :console, 'Select Console' %><br />
            <%= f.select :console, options_for_select([['PS4', 'ps4'],
            ['XboxOne', 'xb1']]) %>
          </div>
  </div>

        <div class="row">
          <div class="col-md-6 col-marg-fix">
            <%= f.label :light_lvl, 'Your Light Level' %><br />
            <%= f.text_field :light_lvl, placeholder: "eg. 335", :maxlength => 3 %>
          </div>

          <div class="col-md-6">
            <%= f.label :activity, 'Select Activity' %><br />
            <%= f.select :activity, options_for_select([
            ['1v1 Private Crucible Match', 'pcm1v1'],
            ['Private Crucible Match', 'pcm'],
            ['Rumble', 'rumble'],
            ['Doubles', '2v2play'],
            ['Skirmish | Elimination | Salvage', '3v3play'],
            ['Clash | Control | Rift', '6v6play'],
            ['Supremecy', 'supremecy'],
            ['Trials of Osiris: Flawless', 'tooflawless'],
            ['Trials of Osiris: Fun', 'toofun'],
            ['Trials of Osiris: Sherpa', 'toosherpa'],
            ['Iron Banner', 'ironbanner'],
            ['Strikes Playlist', 'strikesplay'],
            ['Patrol', 'patrol'],
            ['Quest', 'quest'],
            ['Nightfall', 'nightfall'],
            ['Vault of Glass Raid: Normal', 'vognorm'],
            ['Vault of Glass Raid: Hard', 'voghard'],
            ['Crota\'s End Raid: Normal', 'cenorm'],
            ['Crota\'s End Raid: Hard', 'cehard'],
            ['King\'s Fall Raid: Normal', 'kfnorm'],
            ['King\'s Fall Raid: Hard', 'kfhard'],
            ['Wrath of the Machine: Normal', 'wotmnorm'],
            ['Wrath of the Machine: Hard', 'wotmhard'],
            ], { :class => 'opt-form-select' }) %>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.label :destiny_class, 'Class' %><br />
            <%= f.select :destiny_class, options_for_select([
              ['Hunter', 'hunter'],
              ['Warlock', 'warlock'],
              ['Titan', 'titan']]) %>
          </div>

        </div>


        <div class="form-group notes-wrap">
          <%= f.label :notes %>
          <%= f.text_area :notes, rows: 4, class: 'form-control',
          placeholder: "Enter: Quest Name, Need 2 more players or any other specifics", :maxlength => 50 %>
        </div>

        <br />

        <div class="form-group post-btn-wrap">
          <%= f.submit "Post to LFG!", class: 'btn btn-success' %>
        </div>

      </div>
    <% end %>
  </div>
</div>
