<div class=container-body>
  <div class="margin-wrapper">
  <table>
  <%= link_to "Post to LFG", new_post_path, class: 'btn btn-success' %>
  </table>
    <h2>Filter your LFG search</h2>
  </div>
    <br />
      <div class="posts-wrap">
        <table id="postDatatable" class='display responsive no-wrap table' width="100%">
          <thead>
            <tr>
              <th>Console</th>
              <th>Gamertag</th>
              <th>Activity</th>
              <th>Class</th>
              <th>Light</th>
              <th>Notes</th>
              <th>Edit?</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.console %></td>
                <td><%= post.name %></td>
                <td><%= post.activity %></td>
                <td><%= post.destiny_class %></td>
                <td><%= post.light_lvl %></td>
                <td><%= post.notes %></td>
                <td><%= link_to "edit", edit_post_path(post) %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
</div>
<script>
$(document).ready(function() {
    $('#postDatatable').DataTable( {
      "bLengthChange": false,
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.header()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );

  // $('#postDatatable').DataTable({
  //   responsive: true
  // });

  /* Initialise the DataTable */
    // var oTable = $('#postDatatable').dataTable({
    //   initComplete: function () {
    //     this.api().columns().every( function () {
    //     var column = this;
    //     var select = $('<select><option value=""></option></select>')
    //                     .appendTo( $(column.footer()).empty() )
    //                     .on( 'change', function () {
    //                       var val = $.fn.dataTable.util.escapeRegex(
    //                                   $(this).val()
    //                                 );
    //
    //                       column.search( val ? '^'+val+'$' : '', true, false ).draw();
    //                                     } );
    //     column.data().unique().sort().each( function ( d, j ) {
    //         select.append( '<option value="'+d+'">'+d+'</option>' )
    //     } );
    //           } );
    //       }
    //   } );
    // });


    /* Add a select menu for each TH element in the table header */
    // $("thead th").each(function (i) {
    //     this.innerHTML = fnCreateSelect(oTable.fnGetColumnData(i)) + this.innerHTML;
    //     $('select', this).change(function () {
    //         oTable.fnFilter( $(this).val(), i );
    //     });
    // });

</script>
