<div class="container-body">
  <div class="row">
    <br>
    <div class="col-md-8">
      <h1>Your Post</h1>
      <table id="postDatatable" class='display responsive no-wrap table' width="100%">
        <thead>
          <tr>
            <th>Console</th>
            <th>Gamertag</th>
            <th>Activity</th>
            <th>Class</th>
            <th>Light</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @post.console %></td>
            <td><%= @post.name %></td>
            <td><%= @post.activity %></td>
            <td><%= @post.destiny_class %></td>
            <td><%= @post.light_lvl %></td>
            <td><%= @post.notes %></td>
          </tr>
        </tbody>
      </table>

    <table class="col-md-4">
      <%= link_to 'Edit', posts_path(@post), class: 'btn btn-success' %> |
      <%= link_to "Delete Post", @post, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
    </table>
    <br>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('#postDatatable').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.header()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
// var oTable = $('#postDatatable').dataTable({
//   initComplete: function () {
//     this.api().columns().every( function () {
//     var column = this;
//     var select = $('<select><option value=""></option></select>')
//                     .appendTo( $(column.footer()).empty() )
//                     .on( 'change', function () {
//                       var val = $.fn.dataTable.util.escapeRegex(
//                                   $(this).val()
//                                 );
//
//                       column.search( val ? '^'+val+'$' : '', true, false ).draw();
//                                     } );
//     column.data().unique().sort().each( function ( d, j ) {
//         select.append( '<option value="'+d+'">'+d+'</option>' )
//     } );
//           } );
//       }
//   } );
// });
//
//
// /* Add a select menu for each TH element in the table header */
// $("thead th").each(function (i) {
//     this.innerHTML = fnCreateSelect(oTable.fnGetColumnData(i)) + this.innerHTML;
//     $('select', this).change(function () {
//         oTable.fnFilter( $(this).val(), i );
//     });
// });
</script>
