<!DOCTYPE html>
<html>
<head>
  <title>Cayde6Sect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=PT+Sans' %>
  <%= stylesheet_link_tag 'application', 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %>

  <%= csrf_meta_tags %>
</head>
<body>
    <div class="nav-container">
      <ul class="nav nav-tabs">
          <li><%= image_tag "c6slogo.svg", class: 'logo-img' %></li>
          <li class="nav-tab-marg pull-right"><%= link_to "About", about_path %></li>
          <li class="nav-tab-marg pull-right"><%= link_to "Posts", root_path %></li>
          <li class="nav-tab-marg pull-right"><%= link_to "New", new_post_path %></li>
       </ul>
    </div>
    <br />
    <div class="pull-right user-info">
         <% if current_user %>
         <%= current_user.name %> <%= link_to "Sign out", destroy_user_session_path, method: :delete %><br />
         <%= link_to "Edit Profile", edit_user_registration_path %>
         <% else %>
           <%= link_to "Sign In", new_user_session_path %>
         <% end %>
         <% if current_user.try(:admin?) %>
            <p>I'm admin</p>
            <% end %>
    </div>
    <br />
    <br />
    <%= image_tag "image1.PNG", class: 'banner-image' %>
    <div class="container">
           <p class="notice"><%= notice %></p>
           <p class="alert"><%= alert %></p>
           <%= yield %>
    </div>


  <footer>RSVision Design and Development 2016</footer>
</body>
</html>
