<!DOCTYPE html>
<html>
<head>
  <title>Cayde6Sect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=PT+Sans' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="nav-container">
      <ul class="nav nav-tabs">
          <li><%= link_to "Posts", root_path %></li>
          <li><%= link_to "New LFG Post", new_post_path %></li>
          <li><%= link_to "About", about_path %></li>
       </ul>
    </div>
    <br />
    <div class="pull-right user-info">
         <% if current_user %>
         <%= current_user.name %> <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
         <% else %>
           <%= link_to "Sign In", new_user_session_path %>
         <% end %>
    </div>
    <br />
    <br />
    <div class="image-wrap">
      <%= image_tag "67986769.jpg", class: 'bannerImage'%>
    </div>

    <div class="container">
           <p class="notice"><%= notice %></p>
           <p class="alert"><%= alert %></p>
           <%= yield %>
    </div>


  <footer>RSVision Design and Development 2016</footer>
</body>
</html>
